* {
    margin: 0;
    padding: 0;
}


//section 1
.background-color {
    width: 100%;
    height: 600px;
    background-color: #F8FAF9;

}

//section 2
// .imgCover2 {
//     background-image: url('https://media.istockphoto.com/photos/blank-green-chalkboard-picture-id523740823?k=20&m=523740823&s=170667a&w=0&h=HiWvSETl8h3OAIxigtnkMNYJ2yFOD4FAPyY80n8tVbQ=') !important;
//     background-repeat: no-repeat !important;
//     background-size: cover;
//     width: 50%;
//     height: 800px;
//     background-color: #245C51;
   
// }


.imgCover2 {
    
    background-repeat: no-repeat !important;
    background-size: cover;
    width: 50%;
    height: 800px;
  
}

.background-color4 {

    width: 100%;
    height: 800px;
    background-color: white;
   

}


.alignItem{
    padding-right: 200px;
    padding-left: 240px;
    
}


.background-color11 {

    width: 100%;
    height: 400px;
    background-color: white;
    // background-color: #DFDBE5;
    
}


//footer
.footer
{
    width: 100%;
    height: 500px;
    background-color: #255D52;

}